main {
    display: flex;
    justify-content: center;
}

#grid {
    border-top: 1px;
    border-top-color: #666;
    border-top-style: solid;
    border-left: 1px;
    border-left-color: #666;
    border-left-style: solid;
    margin: 10px;
    /* background-color: red; */
    height: 700px;
    width: 1500px;

    display: flex;
    flex-wrap: wrap;
}