/* STRUCTURE =========================================== */

#info-box {
    background-color: #222;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 625px;
    width: 400px;
    margin-right: 75px;
}

.algo-info-container {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 208px;
    width: 400px;
}

.legend-container {
    /* background-color: blue; */
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    height: 208px;
    width: 400px;
}

.buttons-container {
    /* background-color: blue; */
    height: 208px;
    width: 400px;
}

/* ALGO INFO CONTAINER */

.algo-title {
    color: white;
    font-size: 20px;
    padding-top: 15px;
}

.algo-info {
    color: white;
    font-size: 14px;
    padding: 15px 20px 20px 20px;
    line-height: 1.7;
}

/* LEGEND CONTAINER */

.legend-title {
    color: white;
    font-size: 20px;
    padding: 15px 0 10px 0;
}

.legend-row {
    display: flex;
    align-items: center;
}

.legend-item-box {
    margin: 5px;
    display: flex;
    align-items: center;
}

.legend-tile {
    height: 24px;
    width: 24px;
    border: 1px solid #666;
    margin-right: 5px;
    margin-left: 5px;
}

.white {
    background-color: white;
}

.blue { 
    background-color: blue;
}

.deepred {
    background-color: #B50721;
}

.orange {
    background-color: orange;
    margin-left: 51px;
}

.skyblue {
    background-color: #15BEFF;
}