/* STRUCTURE =========================================== */

#info-box {
    background-color: #222;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 625px;
    width: 400px;
    margin-right: 75px;
}

.algo-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 208px; */
    /* height: 30%; */
    width: 400px;
}

.legend-container {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    /* height: 208px; */
    /* height: 30%; */
    width: 400px;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 208px; */
    /* height: 30%; */
    width: 400px;
}

/* ALGO INFO CONTAINER */

#algo-title {
    color: white;
    font-size: 20px;
    padding-top: 15px;
}

.algo-text-box {
    width: 90%;
    border-bottom: 1px solid white;
}

#algo-info {
    color: white;
    font-size: 14px;
    padding: 15px 20px 10px 20px;
    line-height: 1.7;
}

#dfs-note {
    color: white;
    font-size: 12px;
    padding: 0px 20px 10px 20px;
    line-height: 1.4;
}

/* LEGEND CONTAINER */

.legend-title {
    color: white;
    font-size: 20px;
    padding: 15px 0 10px 0;
}

.legend-row {
    display: flex;
    align-items: center;
}

.legend-item-box {
    margin: 5px;
    display: flex;
    align-items: center;
}

.legend-tile {
    height: 24px;
    width: 24px;
    border: 1px solid #666;
    margin-right: 5px;
    margin-left: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.legend-item {
    margin-left: 3px;
}

.white {
    background-color: white;
}

.target { 
    background-color: #3ac961;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deepred {
    background-color: #B50721;
}

.orange {
    background-color: orange;
    margin-left: 51px;
}

.skyblue {
    background-color: #15BEFF;
}

/* CONTROLS CONTAINER */

.control-rows-container {
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.controls-row {
    display: flex;
    justify-content: center;
}

#anim-speed {
    margin-left: 10px;
}

.clear-button {
    background-color: #333;
    border-style: none;
    margin: 10px;
    padding: 10px;
}

.clear-button:hover {
    cursor: pointer;
    opacity: 0.8;
}