/* STRUCTURE ======================================= */

.modal {
    display: block;
    /* display: none; */
}

.modal-screen {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #222;
    border-radius: 5px;
    height: 500px;
    width: 700px;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MODAL PAGE 1 CONTENT */

.modal-title-row {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-title {
    /* background-color: red; */
    /* color: #3ac961; */
    color: white;
    font-size: 34px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    padding: 25px 0 20px 0;
}

.modal-counter {
    font-size: 18px;
    margin-top: 25px;
    margin: 25px 0 0 20px;
}

.modal-close-btn {
    font-size: 40px;
    cursor: pointer;
    margin: 15px 20px 0 0;
}

.modal-main {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    width: 100%;
}

.modal-row {
    /* background-color: green; */
    width: 80%;
}

.modal-subtitle {
    /* color: white; */
    color: #3ac961;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 600;
    /* margin-left: 40px; */
    padding-bottom: 10px;
}

.modal-text {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    line-height: 1.5;
    /* margin-left: 10px; */
}

.modal-orange {
    color: #D69E2E;
}

.italic {
    font-style: italic;
}

.modal-blue {
    color: #15BEFF;
    /* text-decoration: underline; */
}

.modal-red {
    color: #B50721;
}

.modal-green {
    color: #3AC961;
}

.modal-nav {
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.next-button {
    background-color: #3ac961;
    border-radius: 3px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    padding: 7px 25px 7px 25px;
    border-style: none;
    text-align: center;
    margin-right: 30px;
}

.next-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.next-button:focus {
    outline: none;
}

/* MODAL PAGE 2 CONTENT */

.modal-title-p2 {
    color: white;
    font-size: 34px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    padding: 25px 0 20px 0;
}

.modal-sec-title {
    color:#3AC961;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
}

.modal-text-p2 {
    color: white;
    font-size: 14px;
    line-height: 1.5;
}

.modal-gif-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-gif {
    border: 1px solid #666;
    border-radius: 3px;
    margin: 20px 0 20px 0;
    padding: 5px;
    height: 240px;
    width: 480px;
}