/* STRUCTURE ========================================= */

body {
    background-color: black;
    font-family: 'Raleway', 'sans-serif';
}

#grid {
    background-color: black;
}

nav {
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: #222;
    color: white;
}

.nav-top {
    display: flex;
    height: 60%;
    width: 100%;
}

.nav-bottom {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* NAV-TOP =========================================== */

.nav-top-left {
    height: 100%;
    width: 33%;
}

.nav-top-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 34%;
}

.main-title {
    font-size: 50px;
    /* color: orange; */
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.nav-top-right {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 33%;
}

a {
    height: 31px;
}

.fa-github {
    margin: 10px;
    color: white;
}

.fa-github:hover {
    opacity: 0.8;
}

/* NAV-BOTTOM ======================================== */

.algos-main-title {
    font-size: 35px;
    margin-right: 20px;
}

.algo-button {
    display: flex;
    border-radius: 8px 8px 0 0;
    height: 40px;
    margin: 0 15px 0 15px;
    align-items: center;
    cursor: pointer;
}

.algo-button p {
    padding: 0 10px 0 10px;
}

/* This prevents all child elements from blocking click listeners */
.algo-button > * {
    pointer-events: none;
}

#dijkstras-btn {
    background-color: #15BEFF;
}

#bfs-btn {
    /* background-color: black; */
    background-color: #3ac961
}

#dfs-btn {
    background-color: #B50721;
}

.active {
    font-weight: 600;
    border-bottom: 2px solid white;
}

#vis-button {
    border-style: none;
    background-image: linear-gradient(60deg,#d69e2e,#fbd38d);
    border-radius: 5px;
    color: white;
    font-size: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-family: 'Raleway', 'sans-serif';
}

#vis-button p {
    padding: 0 8px 0 8px;
}

#vis-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#vis-button:focus {
    outline: none;
}

#reset-button {
    border-style: none;
    background-color: #666;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    font-size: 18px;
    height: 35px;
}

#reset-button:hover {
    opacity: 0.8;
}

#reset-button p {
    font-family: "Raleway", sans-serif;
    padding: 0 4px 0 4px;
}

#reset-button:focus {
    outline: none;
}