/* STRUCTURE ========================================= */

body {
    background-color: black;
    font-family: 'Raleway', 'sans-serif';
}

#grid {
    background-color: black;
}

nav {
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: #222;
    color: white;
}

.nav-top {
    display: flex;
    height: 60%;
    width: 100%;
}

.nav-bottom {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* NAV-TOP =========================================== */

.nav-top-left {
    height: 100%;
    width: 33%;
}

.nav-top-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 34%;
}

.main-title {
    font-size: 50px;
    color: orange;
    font-weight: 700;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.nav-top-right {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 33%;
}

.fa-github {
    margin: 10px;
    color: white;
}

/* NAV-BOTTOM ======================================== */

.algos-title {
    font-size: 35px;
    margin-right: 20px;
}

.algo-box {
    display: flex;
    margin: 0 15px 0 15px;
    align-items: center;
}

.algo-buttons {
    height: 18px;
    width: 18px;
    border-radius: 0;
}

#vis-button {
    border-style: none;
    background-color: orange;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-family: 'Raleway', 'sans-serif';
}

#vis-button p {
    padding: 0 8px 0 8px;
}

#vis-button:hover {
    opacity: 0.8;
    cursor: pointer;
}