/* BASICS ======================================================= */
.tile {
    background-color: black;
    height: 24px;
    width: 24px;

    border-bottom: 1px;
    border-bottom-color: #666;
    border-bottom-style: solid;
    border-right: 1px;
    border-right-color: #666;
    border-right-style: solid;
}

.root-node {
    background-color: white;
    cursor: pointer;
}

.target-node {
    background-color: blue;
    cursor: pointer;
}

/* TILE TYPES =================================================== */

.visited {
    /* animation: 1s ease both markVisited; */
    background-color: orange;
}

@keyframes markVisited {
    from {
        background-color: black;
    }

    to {
        background-color: orange;
    }
}

.target-found {
    /* animation: .5s ease both markFound; */
    background-color: blue;
    border: 1px solid white;
    height: 23px;
    width: 23px;

    
}

@keyframes markFound {
    from {
        background-color: green;
    }

    to {
        background-color: blue;
    }
}

.shortest-path-node {
    background-color: #15BEFF;
}

.wall {
    background-color: #B50721;
}

.parent {
    background-color: teal;
}

.child {
    background-color: white;
}