/* BASICS ======================================================= */
.tile {
    background-color: black;
    height: 24px;
    width: 24px;

    border-bottom: 1px;
    border-bottom-color: #666;
    border-bottom-style: solid;
    border-right: 1px;
    border-right-color: #666;
    border-right-style: solid;
}

.root-node {
    background-color: white;
    cursor: pointer;
}

.arrow-icon {
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.target-node {
    /* background-color: #3ac961; */
    background-color: blue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.target-icon {
    height: 80%;
    width: 80%;
    pointer-events: none;
}

/* TILE TYPES =================================================== */

.visited {
    animation: 1.5s ease both markVisited;
    /* background-color: orange; */

    border-bottom: 1px;
    border-bottom-color: #666;
    border-bottom-style: solid;
    border-right: 1px;
    border-right-color: #666;
    border-right-style: solid;
}

@keyframes markVisited {
    from {
        background-color: #3ac961;
        border-radius: 50%;
    }

    to {
        background-color: orange;
        border-radius: 0;
        /* border-bottom: 1px;
        border-bottom-color: #666;
        border-bottom-style: solid;
        border-right: 1px;
        border-right-color: #666;
        border-right-style: solid; */
    }
}

.target-found {
    animation: 1s ease both markFound;
    border: 1px solid white;
    height: 23px;
    width: 23px;
}

@keyframes markFound {
    from {
        background-color: gold;
    }

    to {
        /* background-color: #3ac961; */
        background-color: blue;
    }
}

.shortest-path-node {
    background-color: #15BEFF;
}

.wall {
    background-color: #B50721;
}

.hidden {
    background-color: black;
}

.hidden img {
    opacity: 0;
}

.parent {
    background-color: teal;
}

.child {
    background-color: white;
}
